body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: blue;
}

.app {
  display: flex;
 }

.sidebar {
  
  width: 15%;
  background-color: darkblue;
  color: #fff;
  padding: 20px;
}

.note-list {
  width: 70%;
  background-color: darkblue;
  color: #fff;
  padding: 20px;
}
.task-list-container{
   display: block;
   background-color: darkblue;
  }


footer{
  text-align: center;
}
