.task-list-container {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    
  }
  
  .task {
    display: flex;
    align-items: center;
    margin: 0, 0, 0, 50;
    
  }
  
  .task-checkbox {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .task-content {
    margin-left: 10px;
    flex-grow: 1;
  }
  
  .task.completed .task-content {
    text-decoration: line-through;
    color: gray;
  }
  